{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <title>Hola</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>


<h1> Proyecto Redes </h1>

<p>Hola {{request.user}}, {{msg}} </p>

{% if request.user.is_authenticated %}
<p><a href="{% url 'logOut' %}">Logout</a></p>
{% endif %}


</body>

</html>