{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <!-- Bueno pues son gratis no? XD -->
    <title>appRedesHi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- El poderosisimo reciclado -->
    <link type="text/css" rel="stylesheet" href={% static "css/style.css" %}/>

	<!-- Favicon de la página -->
	<link rel="shortcut icon" type="image/ico" href= "{% static 'images/favicon.ico' %}"/> 

	<!-- Iconos de fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
	crossorigin="anonymous">


    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url({% static 'images/redes.jpg' %});">
<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>¿Ya tienes una cuenta?</h2>
			<p>Bienvenido a nuestra super appWeb XD</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>¿Aun no tienes una cuenta?</h2>
			<p>¡Crea una son gratis!</p>
			<label id="label-login" for="log-login-show">Registrate aqui</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
			<form method="POST" action="">
				{% csrf_token %}
				<h3 class="card-title"><i class="fas fa-user"></i>&nbsp;&nbsp;LOGIN</h3>
				<input type="text" name="username" placeholder="Nombre Usuario">
				<input type="password" name="password" placeholder="Contraseña">
				<input type="submit" name="submit" value="Acceder">
			</form>	
				<p>{{ form.errors }} </p>
				{% for message in messages %}
					<p> {{message}} </p>
				{% endfor %}
			</div>

			<div class="register-show">
			<form method="POST" action="">
				{% csrf_token %}
				<h3 class="card-title"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;REGISTRO</h3>
				{{ form.email }}
				{{ form.username }}
				{{ form.password1 }}
				{{ form.password2 }}
				<input type="submit" name="submit" value="Registrarse">
			</form>	
				
			</div>
		</div>
	</div>


<script type="text/javascript" src={% static "js/login.js" %}></script>
    
</body>

<script>
		/*
		En un tutorial chafa para modificar los placeholder a pata
		debido a que {% csrf_token %} no se considera input field
		*/
		var form_fields = document.getElementsByTagName('input')
		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>

</html>
